<div>
    <div class="panel-group">
        <h5 class="text-info">You have {{savedCount}} saved items.</h5>

        <div class="panel panel-info" ng-if="savedItineraries.length>0">
            <div class="panel-heading">Your saved itineraries</div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li ng-repeat="itin in savedItineraries.slice().reverse()" class="OTADemoItineraryListElement">
                        <itinerary itin="itin" hide-itinerary-select-button="true" standalone-widget="{{$last}}"></itinerary>
                        <!-- standalone-widget="{{$last}}" is a performance optimisation not to trigger element queries on rendering every itinerary. It is enough to trigger for the last one, and it will work for all widgets in view -->
                        <div class="SDSBottomBuffer-xs"></div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary btn-xs" ng-click="checkoutItinerary(itin)">Checkout</button>
                            <button type="button" class="btn btn-primary btn-xs " ng-click="removeItinerary(itin)">Remove</button>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div>
            <div class="panel-footer">
                <a ng-click="removeAllItineraries()">Clear all itineraries</a>
            </div>
        </div>

        <div class="panel panel-info" ng-if="savedSearchCriteria.length>0">
            <div class="panel-heading">Your recent searches</div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li ng-repeat="searchCriteria in savedSearchCriteria.slice().reverse() track by $index" class="OTADemoSearchCriteriaShortElement">
                        <div class="row">
                            <search-criteria-short class="col-xs-9 col-sm-6 col-md-4 col-lg-3" criteria="searchCriteria"></search-criteria-short>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <div class="SDS-btn-toolbar">
                                    <button type="button" class="btn btn-primary btn-xs" ng-click="search(searchCriteria)">Search</button>
                                    <button type="button" class="btn btn-primary btn-xs" ng-click="removeSearchCriteria(searchCriteria)">Remove</button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel-footer">
                <a ng-click="removeAllSearchCriteria()">Clear all searches</a>
            </div>
        </div>
    </div>
</div>