<div id="local" class="navbar main-navbar navbar-default navbar-inverse main-navbar-inverse" style="display: block;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle main-navbar-toggle" data-toggle="collapse"
                    data-target="#mainNavCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#/demoHomePage" class="navbar-brand main-navbar-brand">
                <img src="https://developer.sabre.com/files/Sabre-Logo-2013.png">
            </a>
            <h1 class="navbar-title main-navbar-title">
                <a class="home-link" href="#/demoHomePage">OTA Demo Tool</a>
            </h1>
        </div>
        <div id="mainNavCollapse" class="collapse navbar-collapse">
            <ul id="site-map" class="nav navbar-nav main-navbar-nav">
                <li class="dropdown">
                    <a href="#/demoHomePage" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true"
                       aria-expanded="false">Demo<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Flights</a>
                        </li>
                        <li>
                            <a href="#">Destination Finder</a>
                        </li>
                        <li>
                            <a href="#">Inspiration</a>
                        </li>
                        <li>
                            <a href="#">Cart</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Feedback <i class="caret"></i></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Survey</a>
                        </li>

                        <li>
                            <a ui-sref="contact">Contact</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Resources <i class="caret"></i></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ui-sref="resources.basicSearch">Basic Search</a>
                        </li>
                        <li>
                            <a ui-sref="resources.calendarNavigation">Calendar Navigation</a>
                        </li>
                        <li>
                            <a ui-sref="resources.alternateDates">Alternate Dates</a>
                        </li>
                        <li>
                            <a ui-sref="resources.inspirationalServices">Inspirational Services</a>
                        </li>
                        <li>
                            <a ui-sref="resources.intelligenceServices">Intelligence Services</a>
                        </li>
                        <li>
                            <a ui-sref="resources.compare">Compare</a>
                        </li>
                    </ul>
                </li>
                <li id="metaLinks" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">About <i class="caret"></i></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Sabre</a>
                        </li>
                        <li>
                            <a href="#">Travel Network</a>
                        </li>
                        <li>
                            <a href="#">Dev Studio</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="site-search">
            <div ng-show="!isShowSearchForm">
                <a href="#" aria-label="Searhc the OTA Demo Tool">
                    <i class="edl-icon--search edl-icon" ng-click="isShowSearchForm = !isShowSearchForm"
                       aria-hidden="true" title="Searhc the OTA Demo Tool"></i>
                </a>
            </div>
            <div class="hidden-by-defaut" ng-class="{show: isShowSearchForm}">
                <a href="#">
                    <i class="edl-icon edl-icon--close" ng-click="isShowSearchForm = !isShowSearchForm"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="site-search-form" ng-class="{show: isShowSearchForm}">
    <div class="inner container-fluid">
        <div id="edl-search" class="edl-search">
            <form action="/home/search/show_results" id="cse-search-box" class="edl-form">
                <div>
                    <input class="edl-input" name="q" id="q" type="text" placeholder="Site search...">
                    <input name="cx" value="000492012218074769583:z9egyc6spxy" type="hidden">
                    <input name="cof" value="FORID:10" type="hidden">
                    <input name="ie" value="UTF-8" type="hidden">
                    <button type="submit" class="button button_220" name="sa" id="submit_search" value=" ">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>