<div id="local" class="navbar main-navbar navbar-default navbar-inverse main-navbar-inverse" style="display: block;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#/demoHomePage" class="navbar-brand main-navbar-brand">
                <img src="https://developer.sabre.com/files/Sabre-Logo-2013.png">
            </a>
            <h1 class="navbar-title main-navbar-title">
                <a class="home-link">{{::ctrl.widgetTitle}}</a>
            </h1>
        </div>
    </div>
</div>