<div class="navbar top-navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle main-navbar-toggle" data-toggle="collapse"
                    data-target="#topNavCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="topNavCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav top-navbar-nav">
                <li><a href="http://www.sabre.com/">Sabre</a></li>
                <li><a href="https://www.sabretravelnetwork.com/">Travel Network</a></li>
                <li><a href="https://developer.sabre.com/">Sabre Dev Studio</a></li>
            </ul>
            <ul class="nav navbar-nav top-navbar-nav navbar-right">
                <li>
                    <change-origin-select origin-preset="FRA"></change-origin-select>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">DE<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">US</a></li>
                        <li><a href="#">DE</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>