<div id="bread_crumb">
    <p><a ui-sref="demoHomePage">home</a> » <a ui-sref="resources">resources</a> » <a ui-sref="resources.basicSearch">basic search</a></p>
    <span class="crumb-grad"></span>
</div>

<div id="post-10184" class="post-10184 page type-page status-publish has-post-thumbnail hentry">
    <div class="entry-header">
        <h1 class="entry-title">Basic Search</h1>
    </div>

    <div class="entry-content">

        <div class="entry-thumb">
            <img width="720" height="300"
                 src="images/corp_header_2.gif"
                 class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                 alt="Basic Search">

            <p>Sabre® Corporate Solutions is a portfolio of technologies and services that gives you more control over your managed travel program.
                Sabre serves more than 80% of the BTN Top 100 in Corporate Travel. Customers across the globe trust Sabre to support their travel programs and
                provide solutions that build best-in-class managed programs.
                The proof of that is evident - for 15 years our customers have been recognized as BTN Travel Managers of the Year and Best Practitioners.
                Our products enable your success. Plus, Sabre has a proven track record of travel innovation.
                Sabre technology processes over 12 million transactions annually, delivers over 100,000 messages per second, all with 99.9% uptime.</p>
        </div>

        <div class="row tileContainer">
            <div ng-repeat="tile in basicSearch.tiles">
                <div class="clearfix" ng-if="$index % 2 == 0"></div>
                <div class="col-md-6 col-sm-12 demoTile">
                    <widget-tile ng-model="tile"></widget-tile>
                </div>
            </div>
        </div>
    </div>
</div>
