<div class="panel-group">
    <h4>Booking confirmation</h4>

    <div class="panel panel-info">
        <div class="panel-heading SDS-panel-heading">
            Itinerary
        </div>
        <div class="panel-body SDS-panel-body">
            <itinerary itin="itinerary" price-details-always-shown="true" hide-itinerary-select-button="true" standalone-widget="true"></itinerary>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading SDS-panel-heading">
            Traveller
        </div>
        <div class="panel-body SDS-panel-body">
            <ul class="list-unstyled">
                <li>
                    {{reservationData.travellerData.travellerGender | title}} {{reservationData.travellerData.travellerFirstName}} {{reservationData.travellerData.travellerLastName}}
                </li>
                <li>
                    Born: {{reservationData.travellerData.travellerDateOfBirth | date:"mediumDate"}}
                </li>
                <li ng-if="reservationData.travellerData.frequentFlyerProgram.number">
                    Frequent flyer number: {{reservationData.travellerData.frequentFlyerProgram.number}}
                    at
                    {{reservationData.travellerData.frequentFlyerProgram.programName.programName}} ({{reservationData.travellerData.frequentFlyerProgram.programName.airlineCode | airlineFullName}})
                </li>
                <li ng-if="reservationData.travellerData.travellerContact.phoneNumber.number">
                    Contact phone {{reservationData.travellerData.travellerContact.phoneNumber.prefix.prefix | phoneCountryPrefix}} {{reservationData.travellerData.travellerContact.phoneNumber.number}}
                </li>
            </ul>
        </div>
    </div>

    <div class="panel panel-info" ng-if="anySpecialServiceRequestDefined()">
        <div class="panel-heading SDS-panel-heading">
            Special service requests
        </div>
        <div class="panel-body SDS-panel-body">
            <ul class="list-unstyled">
                <li ng-if="reservationData.travellerData.specialServiceRequest.mealPreference">
                    Meal preference: {{reservationData.travellerData.specialServiceRequest.mealPreference}}
                </li>
                <li ng-if="reservationData.travellerData.specialServiceRequest.assistanceType">
                    Special assistance: {{reservationData.travellerData.specialServiceRequest.assistanceType}}
                </li>
            </ul>
        </div>
    </div>

    <div class="panel panel-info" ng-if="reservationData.ancillaries.insurance.included || reservationData.ancillaries.car.carSelected">
        <div class="panel-heading SDS-panel-heading">
            Optional services
        </div>
        <div class="panel-body SDS-panel-body">
            <ul class="list-unstyled">
                <li ng-if="reservationData.ancillaries.insurance.included">
                    Insurance. Option {{reservationData.ancillaries.insurance.protectionPlan}}. <a href="views-static/insuranceDetails.html" new-window>Details.</a>.
                    Price {{reservationData.ancillaries.insurance.price | currency:reservationData.ancillaries.insurance.currency}}
                </li>
                <li ng-if="reservationData.ancillaries.car.carSelected">
                    Car: {{reservationData.ancillaries.car.carSelected.brand}} {{reservationData.ancillaries.car.carSelected.model}}.
                    Pickup at {{reservationData.ancillaries.car.pickupLocation | cityFullName}} {{reservationData.ancillaries.car.pickupDateTime | date}}, return {{reservationData.ancillaries.car.returnDateTime | date}}
                    {{reservationData.ancillaries.car.carSelected.priceWithDiscount | currency:reservationData.ancillaries.car.carSelected.currency}}
                </li>
            </ul>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading SDS-panel-heading">
            Payment details
        </div>
        <div class="panel-body SDS-panel-body">
            <ul class="list-unstyled">
                <li>Payment by credit card {{reservationData.paymentData.creditCardCompany}}.</li>
                <li>Owner {{reservationData.paymentData.ownerFullName}}.</li>
            </ul>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading SDS-panel-heading">
            Contact information
        </div>
        <div class="panel-body SDS-panel-body">
            <ul class="list-unstyled">
                <li ng-if="reservationData.buyerContactData.email">Email: {{reservationData.buyerContactData.email}}.</li>
                <li ng-if="reservationData.buyerContactData.phoneNumber.number">
                    Phone: {{reservationData.buyerContactData.phoneNumber.prefix.prefix | phoneCountryPrefix}} {{reservationData.buyerContactData.phoneNumber.number}}.
                </li>
            </ul>
        </div>
    </div>
</div>