<div>
    <div>
        From {{criteria.origin | cityFullName}} to {{criteria.destination | cityFullName}}
    </div>
    <div>
        <span>{{criteria.outboundDepartureDateTime | date: 'EEE d MMM'}}</span>
        <span ng-if="criteria.inboundDepartureDateTime">
            -
            {{criteria.inboundDepartureDateTime | date: 'EEE d MMM'}},
        </span>
        <span>
            <ng-pluralize count="criteria.totalPassengerCount" when="{'one': '{} passenger', 'other': '{} passengers'}"></ng-pluralize>,
        </span>
        <span>{{criteria.preferredCabin}}</span>
        <span ng-repeat="airline in criteria.preferredAirlines">{{airline}}</span>
    </div>
    <div>

    </div>
</div>