<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="../bower_components/sabre-dev-studio-widgets/dist/widgets/css/SDS.min.css" />
    <title>Sabre Mock OTA agency</title>
</head>
<body>
    <div class="container">
        <div>
            <search-form class="embeddedWidget" submit-target="/results" last-search-criteria-store="lastSearchCriteria"></search-form>
        </div>
        here goes inspirational content
    </div>
</body>
</html>