<div class="panel panel-primary">
    <div class="panel-heading">
        <h5>Booked trip</h5>
    </div>
    <div class="panel-body">
        <itinerary itin="ctrl.selectedItinerary" flight-details-always-shown="true" price-details-always-shown="true"></itinerary>
        <div>
            Credit Card fees not included.
            Baggage allowance <a>details</a> TODO show modal here.
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h5>Travel protection</h5>
    </div>
    <div class="panel-body">
        Form with pre-checked checkbox "I want to buy travel insurance: for xx EUR" + quick list waht this insurance protects. (+ details link)
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h5>Car rental</h5>
    </div>
    <div class="panel-body"> LMC page. Car rental widget - why rent a car with us: best prices, book all now, guarantee, miles, best offer
        prepopulated pick-up & drop-off location
        pick-up & drop-off time: 19/11/2015 from 14:30 - 22/12/2015 up until 13:30
    </div>
</div>

<button type="button" ui-sref="createReservation.travellerDataInput" class="btn btn-lg btn-primary center-block">
    Input traveller data <span class="glyphicon glyphicon-circle-arrow-right"></span>
</button>